<!doctype html>
<html>

  <head>
    <title>{% block title %}{% endblock %}</title>
     <meta charset="utf-8">
     <mata name="viewport" content="width=device-width">
     <mata name="description" content="A web for computer science">
     <mata name="keywords" content="computer science, publication,co-author">
     <mata name="author" content="Luna">
     <link rel="stylesheet" href="{{ url_for('static', filename='style.css')}}">
  </head>

  <body>
    <div id="page">
      <div id="header">
        <!--<h1>COMP62521: {{ args.dataset }}</h1>-->

        <div id="navigation" style="display: none;">
        
         <p class="current"> <a href="/">Home</a> </p>  
      </div>

      <div id="content">
        {% block content %}{% endblock %}
      </div>
    </div>

<footer>
   <p>publication website copyright &copy; to Kahn Group</p>
 </footer>-->

  </body>
</html>
