body{
  font:15px/1.5 Arial,Helvetica, sans-serif;
  padding: 0;
  margin:0;
  background-color:#f4f4f4;
}

/*Global*/
.container{
  width:80%;
  margin:auto;
  overflow: hidden;
}

ul{
  mardin:0;
  padding:0;
}

.button_1{
  height: 38px;
  background: #e8491d;
  border:0;
  padding-left: 25px;
  padding-right: 20px;
  color:#ffffff;
}

.button_2{
  height: 22px;
  background: #35424a;
  margin: 2px;
  border:0;
  padding-left: 25px;
  padding-right: 20px;
  color:#ffffff;
  cursor: pointer;
}

.button_2:hover{
  background:#e8491d;

}

#back:hover{
  color: #e8491d;
  cursor: pointer;
}

.coauth{
  color: #000000;
}

.coauth:hover{
  color: #e8491d;
  cursor: pointer;
}

/*Header*/
header{
  background:#35424a;
  color:#ffffff;
  padding-top: 30px;
  min-height: 70px;
  border-bottom:#e8491d 3px solid;
}

header a{
  color:#ffffff;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 16px;
}

header li{
  float:left;
  display:inline;
  padding:0 20px 0 20px;
}

header #logoing{
  float:left;
}

header #branding{
  float:left;
}

header #branding h1{
  margin:0;
}

header nav{
  float:right;
  margin-top: 10px
}

header .highlight, header .current a{
  color:#e8491d;
  font-weight:bold;
}

header a:hover{
  color:#cccccc;
  font-weight: :bold;

}

/* showcase*/
#showcase{
  min-height: 400px;
  background:url('../img/pic4.jpg') no-repeat 20px -50px;
  background:url('../img/pic1.jpg') no-repeat 20px -50px;
  background:url('../img/pic2.jpg') no-repeat 20px -50px;
  background:url('../img/pic3.jpg') no-repeat 20px -50px;
  text-align: centre;
  color:#35424a;
}


#showcase h1{
  margin-top:2px;
  font-size: 55px;
  margin-bottom: 10px;
}
#showcase p{
  font-size: 20px;
}

/*newsletter*/
#newsletter{
  padding: 0.0005px;
  color:#ffffff;
  background:#35424a;
}
#newsletter h1{
  float:left;
  font-size:35px;
}
#newsletter form{
  float:right;
  margin-top: 66px;
  
}
#newsletter input{
  padding:4px;
  hight:25px
  width:250px
}

/*boxes*/
#boxes{
margin-top: px;
}
#boxes .box{
  float:left;
  width: 30%;
  padding:22px;
  text-align: centre;
}
#boxes .box img{
  width:100px;
}

footer{
  padding:20px;
  margin-top: 20px;
  color:#ffffff;
  background-color: #e8491d;
  text-align:center;
}
